@import url("https://fonts.googleapis.com/css?family=Rubik&display=swap");
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Rubik", sans-serif;
}

span {
  cursor: pointer;
}

span:hover {
  color: #fff4f1;
}

.app-body {
  background: darkgray;
  padding-bottom: 1rem;
}

.app-body .app-content {
  width: 55%;
  margin: 0 auto;
  text-align: center;
}

.menu {
  text-align: center;
  padding: 1.3rem;
  border-radius: 1rem;
  margin: 1.6rem 0.5rem;
}

.menu h1 {
  padding: 0.8rem;
  font-size: 2.7rem;
  font-weight: bold;
}

.menu p {
  font-size: 1.3rem;
}

ul {
  width: 80%;
  padding: 0 0.5rem;
  margin: 0 auto;
}

ul li {
  list-style: none;
  margin: 1rem 0.5rem;
  padding: 0.3rem;
  border-radius: 0.6rem;
}

ul li .task-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5px 2px;
  max-width: 90%;
  padding: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

ul li .task-main .name {
  width: 33%;
  font-weight: bold;
}

ul li .task-details {
  padding: 0.2rem;
  border-radius: 0.4rem;
  width: 98%;
  margin: 0.1rem auto;
  font-style: italic;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  word-wrap: break-word;
}

form {
  width: 65%;
  margin: 0 auto;
}

form input[type="text"] {
  padding: 0.5rem;
  border: 0;
  border-radius: 0.5rem;
  margin: 0.6rem 0.2rem;
  width: 44.5%;
}

form input[type="date"] {
  padding: 0.5rem;
  border: 0;
  border-radius: 0.5rem;
  margin: 0.6rem 0.2rem;
  width: 43%;
  font-size: 0.94rem;
  cursor: pointer;
}

form input[type="text"].input-details {
  width: 90%;
}

form input[type="submit"] {
  margin: 0.5rem auto;
  display: block;
  padding: 0.5rem;
  border: 0;
  border-radius: 0.5rem;
  width: 92%;
  cursor: pointer;
}

form input[type="submit"]:hover {
  opacity: 0.6;
}

.switch {
  display: inline-block;
  height: 1.8rem;
  width: 3.5rem;
  position: relative;
}

.switch .switch input {
  display: none;
}

.switch .slider {
  background: lightgray;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 1.1rem;
}

.slider:before {
  content: "";
  position: absolute;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background: white;
  width: 1.3rem;
  height: 1.3rem;
  bottom: 0.25rem;
  left: 0.3rem;
  border-radius: 50%;
}

input:checked + .slider {
  background: #2196f3;
}

input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #2196f3;
          box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(1.6rem);
          transform: translateX(1.6rem);
}

.theme-text {
  margin-right: 0.5rem;
}

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1rem;
}
/*# sourceMappingURL=index.css.map */