@import url("https://fonts.googleapis.com/css?family=Rubik&display=swap");

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Rubik", sans-serif;
}

span {
  cursor: pointer;
}

span:hover {
  color: #fff4f1;
}
