body {
    margin: 0;
    background: #445588;
}

.App {
    background: #469082;
    margin: 30px auto;
    width: 90%;
    color: #eee;
}

.menu {
    text-align: center;
    background: #478987;
    padding: 15px 30px;
}

.menu h1 {
    margin: 15px 0;
}